# Node.js dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log

# Redis cache dump
dump.rdb

# MongoDB lock files (if using local MongoDB)
*.lock

# Jest & coverage files
coverage/

# VS Code settings
.vscode/

